/* STRUCTURE GENERAL */

body {
    font-family: 'calibri';
    margin: 0;
    padding: 0;
}

.header {
    padding: 0;
}

img {
    width: 100%;
}

@media screen and (min-width:768px) {

    img {
        width: 100%;
        height: 32vh;
    }
}

.navDesign {
    background-color: rgb(233, 150, 122);
    border: 10px solid rgb(100, 81, 81);
}

.button {
    border: 3px solid rgb(100, 81, 81);
    width: 130px;
}

a {
    color: rgb(100, 81, 81);
    font-weight: bold;
}

main {
    position: relative;
    top: 275px;
    padding: 1cm;
    background-color: rgb(146, 83, 95);
}

footer {
    position: relative;
    bottom: -275px;
    height: 85px;
    background-color: rgb(233, 150, 122);
    border: solid 1px rgb(100, 81, 81);
}

@media screen and (max-width:768px) {

    main {
        position: relative;
        top: 239px;
    }

    footer {
        position: relative;
        bottom: -239px;
    }
}

/* FIN STRUCTURE GENERAL */

/* TITRES */

h1 {
    font-weight: bold;
    font-size: 25px;
    color: #f7f7f7;
    text-align: center;
}

h2 {
    font-weight: bold;
    font-size: 15px;
    color: #f7f7f7;
    text-align: center;
}

h3 {
    font-weight: bold;
    font-size: 20px;
    color: #f7f7f7;
    text-align: center;
}

/* FIN TITRES */

/* PAGE ACCUEIL ET EVENEMENTS */

.divTextIntro {
    font-size: 15px;
    color: #f7f7f7;
    text-align: center;
}

.divTextFinal {
    font-size: 20px;
    color: rgb(243, 232, 237);
    font-weight: bold;
    text-align: center;
}

/* FIN PAGE ACCUEIL ET EVENEMENTS */

/* PAGE CONTACT */

.div1 {
    height: 7rem;
    width: 30rem;
    border-radius: 10px;
    background-color: rgb(233, 150, 122);
    box-shadow: 8px 8px rgb(100, 81, 81);;
    padding-left: 3px;
    font-size: 15px;
    color: #f7f7f7;
    text-align: center;
}

.i1 {
    position: relative;
    left: 55px;
    bottom: 21px;
}

.i2 {
    position: relative;
    left: 50px;
    bottom: 32px;
}

.couleur {
    color: #f7f7f7;
}

/* FIN PAGE CONTACT */

p { 
    margin-bottom: 0;
}

/* PAGE SOUTIEN */

.div2 {
    height:14rem;
    width: 38rem;
    border-radius: 10px;
    background-color: rgb(233, 150, 122);
    box-shadow: 8px 8px rgb(100, 81, 81);;
    padding-left: 3px;
    font-size: 15px;
    color: #f7f7f7;
    text-align: center;
}

/* FIN PAGE SOUTIEN */

/* FORMULAIRE */

.spacer {
    height: 50px;
}

#contactMail {
    font-size: larger;
    margin-left:20px;
}

#contactPhysique {
    font-size: larger;
    margin-left:20px;
}

input[name='optSituation'] {
    margin: 0 20px;
}

input[name='optAides'] {
    margin: 0 20px;
}

label {
    font-weight: bold;
    font-size: large;
}

.label {
    width: 49%;
    margin-right: 18px;
}

.select {
    width: auto; 
}

.buttonForm {
    background-color: rgb(233, 150, 122);
    border: 3px solid rgb(100, 81, 81);
}










    